@model WebApplication1.Models.Activities.Calendar
@using WebApplication1.HtmlHelpers

@{ 
    Layout = null;
}

@using (Html.BeginForm())
{
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">Fechar Agenda</div>
            <div class="modal-body">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.EvidenceId)
                    @Html.HiddenFor(model => model.ControlTime)
                    @Html.HiddenFor(model => model.Send)
                    @Html.HiddenFor(model => model.ApplicationUserId)
                    @Html.HiddenFor(model => model.DateInitial)
                    @Html.HiddenFor(model => model.TimeInitial)

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.DateFinal, htmlAttributes: new { @class = "control-label" })
                            @Html.DatePickerFor(model => model.DateFinal, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.DateFinal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.TimeFinal, htmlAttributes: new { @class = "control-label" })
                            @Html.DatePickerFor(model => model.TimeFinal, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.TimeFinal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
