@model WebApplication1.Models.Activities.Screen


@{
    var isModal = (bool)TempData["IsModal"];
    if (isModal)
    {
        Layout = null;
    }
}

<form id="FScreens" method="post" action="/Screens/Create">
    @Html.Hidden("isModal", isModal)
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Cadastro de telas do sistema</div>
            <div class="modal-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ModuleId, "ModuleId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.DropDownList("ModuleId", null, htmlAttributes: new { @class = "form-control" })
                                <div class="input-group-btn">
                                    @Html.ActionLink("+", "Create", "Modules", new { isModal = true }, new { @class = "modal-link btn btn-success", elemento_update = "#ModuleId" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.ModuleId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.ApplicationUserId)
                </div>
            </div>
            <div class="modal-footer">
                @if (isModal)
            {
                    <button type="button" class="btn btn-success" onclick="Salvar('/Screens/Create', '#FScreens')">Salvar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success">Salvar</button>
                    @Html.ActionLink("Cancelar", "Index", "Screens", null, new { @class = "btn btn-danger" })
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
