@model IEnumerable<WebApplication1.Models.Activities.SolutionArchive>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName).ToString().Split('.')[0]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName).ToString().Split('.')[1]
            </td>
            <td>
                @Html.ActionLink("Remover arquivo", "Delete", "SolutionArchives", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
